{% load static %}
{% load comps_extras %}
<div class="col-6 col-md-4 my-1">
    <div class="card" id="{{ item.sku_id }}">
      <img 
        class="img-fluid card-img-top" 
        height="400" width="300"
        src="https:{{ item.thumb_middle }}"
      >
      <div class="card-body">           
        <h5 class="card-title">{{ item.name }} </h5>
        <p class="card-title">{{ item.brand }}</p>
        <p class="card-title">{{ item.sku_first_date }}</p>
        <div class="card-img-overlay">
          <h3><span class="badge bg-primary">{{ item.median_price }} p.</span></h3>
          {% if item.stocks == True %}
            <h4><span class="badge bg-warning">Остатки</span></h4>
          {% endif %}
          {% if item.avg_sells  == True %}
            <h4><span class="badge bg-warning">Продажи</span></h4>
          {% endif %}
          <a href="https://www.wildberries.ru/catalog/{{ item.sku_id }}/detail.aspx" class="btn btn-info">WB</a>
          <a href="https://mpstats.io/wb/item/{{ item.sku_id }}" class="btn btn-info">MP</a>
          <div>
            
          </div>
        </div>
      </div>
      <div class="card text-center">
        {% if item in likes%}
        <a href="#" class="btn btn-secondary disabled">В избранном</a>
        {% else %}
        <a href="{% url 'comps:like' %}?id={{ item.id }}" class="btn btn-info">В избранное</a>
        {% endif %}
        <div>
          <canvas id="myChart{{ item.sku_id }}" width="10" height="3"></canvas>
        </div>
        <div>
          <canvas id="myChartY{{ item.sku_id }}" width="10" height="3"></canvas>
        </div>
      </div>   
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        var ctx = document.getElementById('myChart' + {{ item.sku_id }});
        new Chart(ctx, {
          type: 'bar',
          data: {
            datasets: [{
              label: 'Продажи',
              data: {{ item.sells_list|get_graph }},
              borderWidth: 1
            }],
            labels: {{ dts|safe }},
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        var ctx2 = document.getElementById('myChartY' + {{ item.sku_id }});
        new Chart(ctx2, {
          type: 'bar',
          data: {
            datasets: [{
              label: 'Остатки',
              data: {{ item.stocks_list|get_graph }},
              borderWidth: 1
            }],
            labels: {{ dts|safe }},
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
</div>