{% extends "base.html" %}
{% load static %}
{% block title %}
  Новинки
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">Категории</h1>
  <div class="row">
    {% for category in category_list %}
    <div class="col-9 col-md-3 my-1">
      <div class="card text-center">
        {% with src='img/longs.jpg' %}
        <img 
          class="img-fluid card-img-top" 
          height="200" width="100"
          src="{% static category.img %}"
        >
        {% endwith%}
        <div class="card-body">           
          <h5 class="card-title mid">{{ category }} </h5>
          <div class="btn-group">
            <a href="{% url 'comps:list8' category.slug%}" class="btn btn-primary">8 дней</a>
            <a href="{% url 'comps:list14' category.slug%}" class="btn btn-primary">14 дней</a>
            <a href="{% url 'comps:list21' category.slug%}" class="btn btn-primary">21 день</a>
            <a href="{% url 'comps:list30' category.slug%}" class="btn btn-primary">30 дней</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
  <a href="{% url 'comps:force_upd'%}" class="btn btn-danger">Обновить БД</a>
      </div>
    </div>
  </div>
{% endblock %}