{% extends "base.html" %}
{% load static %}
{% block title %}
  Тренды
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">{{ page_obj.category.name }}</h1>
  <div class="row">
    {% for item in page_obj %}
      {% ifchanged %}
        <div class="row mt-5" id="{{ item.category.slug }}">
          <div class="col-12">
            <h3>{{ item.category.name }}</h3>
          </div>
        </div>
      {% endifchanged %}
      {% include "includes/trend_card.html" %}
    {% endfor %}
    {% include "includes/paginator.html" %}
  </div>
{% endblock %}